<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button full (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
        Take Photo
    </button>

    <ion-grid>
        <ion-row>
            <ion-col col-12 *ngFor="let photo of photos; let id = index">
                <ion-card class="block">
                    <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                    <img class="photo-img" [src]="photo.image" *ngIf="photo.image" />
                    <div class="photo-text" *ngFor="let line of photo.tags">
                        <div>{{line}}</div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
